<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Introdução ao VueJS</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>

	<div id="app">
		
		<meu-titulo titulo="Formulários"></meu-titulo>

		<p>Texto:{{texto}}</p>
		<p>
		<input type="text" v-model="texto">
		</p>

		<p>Textarea: {{textarea}}</p>
		<p style="white-space:pre-line;">{{textarea}}</p>
		<p>
			<textarea v-model="textarea" rows="8" cols="80"></textarea>
		</p>

		<p>Checkbox:</p>
		<p>
			<input type="checkbox" id="aceitaTermos" v-model="termos">
			<label for="aceitaTermos">{{termos}}</label>
	    </p>

		<p>Multiplos Checkboxes:{{notificacoes}}</p>
		<p>
			<input type="checkbox" id="receberemail" value="email" v-model="notificacoes">
			<label for="receberemail">Receber e-mails</label>
			<input type="checkbox" id="receberSMS" value="SMS" v-model="notificacoes">
			<label for="receberSMS">Receber SMS</label>
			<input type="checkbox" id="telefone" value="tel" v-model="notificacoes">
			<label for="telefone">Receber ligações</label>
	    </p>

	    <p>Radio:{{sexo}}</p>
	    <p>
		    <input type="radio" id="masculino" value="M" v-model="sexo">
		    <label for="masculino">Masculino</label>
		    <input type="radio" id="feminino" value="F" v-model="sexo">
		    <label for="feminino">Feminino</label>
		</p>

		<p>Select: {{ano}}</p>
		<p>
			<select v-model="ano">
				<option disabled value="Escolha o ano">Selecione o ano</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
				<option vaue="2020">2020</option>


			</select>
		</p>

		<p>Multiple Selects: {{cores}}</p>
		<p>
			<select multiple v-model="cores">
				<option disabled >Selecione as cores</option>
				<option>Azul</option>
				<option>Branco</option>
				<option>Preto</option>


			</select>
		</p>


		<p>Lazy: {{busca}}</p>
		<p>
			<input type="text" v-model.lazy="busca">

		</p>
		
		<p>Number: {{idade}} - Tipo: {{typeof idade}}</p>
		<p>
			<input type="number" v-model.number="idade">

		</p>
	</div>


	<script type="text/javascript">

		Vue.component('meu-titulo',{
			props:['titulo'],
			template:"<h2>{{titulo}}</h2>"	

		});

		



		var app = new Vue({
			el:"#app",
			data:{
				texto:'',
				textarea:'',
				termos:true,
				notificacoes:[],
				sexo:null,
				ano:'Escolha o ano',
				cores:[],
				busca:'',
				idade:''

			},

		});	


	</script>

</body>
</html>